@model IEnumerable<ShoskesTravelReviewAssignment.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div id="globe-background">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>
                    @Html.DisplayFor(modelItem => item.Title)
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
                
                <p>
                    @Html.ActionLink("Details", "Details", new { id = item.ID },
                   new { @class = "btn btn-primary" })

                </p>

            </div>
        </div>
        @Html.DisplayFor(modelItem => item.Category.Name)



        @Html.DisplayFor(modelItem => item.PublishedDate)

        @Html.ActionLink("Edit", "Edit", new { id = item.ID })

        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </div>
    </div>
}
